@model AddTicketViewModel

<form class="row g-3" method="post" asp-action="AddTicket">
    <div>
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title">
    </div>

    <div>
        <label asp-for="DestinationPlace"></label>
        <input class="form-control" asp-for="DestinationPlace">
    </div>

    <div>
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>