@model UpdateTicketViewModel

<form class="row g-3" method="post" asp-action="UpdateTicket">
    <input type="hidden" asp-for="Ticket.TicketId">
       <div>
           <label asp-for="Ticket.Date"></label>
           <input class="form-control" asp-for="Ticket.Date">
       </div>
   
       <div>
           <label asp-for="Ticket.Description"></label>
           <input class="form-control" asp-for="Ticket.Description">
       </div>
   
       <div>
           <label asp-for="Ticket.Price"></label>
           <input class="form-control" asp-for="Ticket.Price">
       </div>
   
    <select asp-for="Ticket.PlaceId" asp-items="@Model.PlacesSelectList.Data">
        <option disabled="disabled">Choose the place</option>
    </select>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>